{% extends 'base.html.twig' %}

{% set controller_name = "Liste des Boutiques"  %}
{% set title = "Boutiques" %}

{% block title %}{{ title }} - {{ parent() }}{% endblock %}

{% block body %}
<div class="container">


    {# Header / Titre de la page #}
    <header class="page-header">
        <h1 class="display-4 text-center my-5">{{ title }}</h1>
    </header>

    {# Barre d'actions (ajouter un produit) #}
    <div class="page-toolbar text-right mt-3">
        <a href="{{ path('merchant:new') }}" class="btn btn-primary btn-sm"><i class="ri-add-circle-line"></i> Ajouter une boutique</a>
    </div>

    {# Tableau de la liste des produits #}
    <table class="table table-hover mt-5">
        {# Entete du tableau HTML #}
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Site Internet</th>
                <th>Logo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for merchant in merchants %}
            <tr>
                <td>{{ merchant.id }}</td>
                <td>{{ merchant.name }}</td>
                <td>{{ merchant.description }}</td>
                <td>{{ merchant.website }}</td>
                <td>{{ merchant.logo }}</td>
                <td>
                    <a href="{{ path('merchant:show', {'id': merchant.id}) }}">Afficher</a>
                    <a href="{{ path('merchant:edit', {'id': merchant.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune boutique</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
