{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4 offset-lg-4">
    <h1>Inscrivez-vous</h1>

{#                Pour bloquer la validation du front#}
    {{ form_start(registrationForm, {
        attr: {
            novalidate: "novalidate"
        }})
    }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
        {{ form_row(registrationForm.agreeTerms, {
            label: 'Accepter les CGU'
        }) }}

                <button class="btn btn-lg btn-primary" type="submit">
                    Valider
                </button>
    {{ form_end(registrationForm) }}

                <a href="{{ url('app_login') }}">J'ai déjà un compte</a>
            </div>
        </div>

    </div>
{% endblock %}
