{% extends 'base.html.twig' %}

{% block title %}DiscountCode{% endblock %}

{% block body %}
    <h1>DiscountCode</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ discount_code.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ discount_code.title }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ discount_code.code }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ discount_code.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('discount_code:index') }}">Retour</a>

    <a href="{{ path('discount_code:edit', {'id': discount_code.id}) }}">Modifier</a>

    {{ include('discount_code/discount_code/_delete_form.html.twig') }}
{% endblock %}
