{% extends 'base.html.twig' %}

{# Page Settings #}
{% set title = "Modification de la catégorie : " ~ category.name %}


{# Page Title #}
{% block title %}{{ title }} - {{ parent() }}{% endblock %}


{# Page Content #}
{% block body %}
<div class="container">


    {# Header / Titre de la page #}
    <header class="page-header">
        <h1 class="page-title text-center py-5">{{ title }}</h1>
    </header>

    {# Barre d'actions (ajouter un produit) #}
    <div class="page-toolbar text-right mt-3">
        <a href="{{ path('category:index', {id: category.id}) }}" class="btn btn-secondary btn-sm">Annuler</a>
        <a href="{{ path('category:delete', {id: category.id}) }}" class="btn btn-danger btn-sm">Supprimer la catégorie</a>
    </div>

    {{ include('category/category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('category:index') }}">Retour</a>

{% endblock %}
