{% extends 'base.html.twig' %}

{% set controller_name = "Liste des Catégories"  %}
{% set title = "Catégories" %}

{% block title %}{{ title }} - {{ parent() }}]}{% endblock %}

{% block body %}
<div class="container">


    {# Header / Titre de la page #}
    <header class="page-header">
        <h1 class="page-title">{{ title }}</h1>
    </header>

    {# Barre d'actions (ajouter un produit) #}
    <div class="page-toolbar text-right mt-3">
        <a href="{{ path('category:new') }}" class="btn btn-primary btn-sm"><i class="ri-add-circle-line"></i> Ajouter une catégorie</a>
    </div>

    {# Tableau de la liste des produits #}
    <table class="table table-hover mt-5">
        {# Entete du tableau HTML #}
        <thead class="thead-dark">
        <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Couleur</th>
                <th>Illustration</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
                <td>{{ category.color }}</td>
                <td>{{ category.illustration }}</td>
                <td>
                    <a href="{{ path('category:show', {'id': category.id}) }}">Afficher</a>
                    <a href="{{ path('category:edit', {'id': category.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune catégorie</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
