{% extends 'base.html.twig' %}

{% set controller_name = "Liste des Catégories"  %}
{% set title = "Catégories" %}

{% block title %}{{ title }} - {{ parent() }}]}{% endblock %}

{% block body %}
    <h1>Category index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Color</th>
                <th>Illustration</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
                <td>{{ category.color }}</td>
                <td>{{ category.illustration }}</td>
                <td>
                    <a href="{{ path('category:show', {'id': category.id}) }}">show</a>
                    <a href="{{ path('category:edit', {'id': category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('category:new') }}">Create new</a>
{% endblock %}
