{% extends "base.html.twig" %}

{% block title %}
    BACKOFFICE | Nodification Deal
{% endblock %}

{% block body %}

    <h1 class="display-4 text-center my-5">Modification Deal nยบ <span class="text-info">{{ idDeal }}</span></h1>

    {{ form_start (formDeal, {'attr' : {'class': 'col-md-5 mx-auto'}}) }}

    {{ form_row(formDeal.title) }}
    {#        {{ form_row(formDeal.category) }} #}
    {{ form_row(formDeal.description) }}
    {{ form_row(formDeal.url) }}
    {{ form_row(formDeal.crossedOutPrice) }}
    {{ form_row(formDeal.dealPrice) }}
    {{ form_row(formDeal.discount) }}
    {{ form_row(formDeal.discountType) }}
    {{ form_row(formDeal.currencyType) }}
    {{ form_row(formDeal.startAt) }}
    {{ form_row(formDeal.endAt) }}
    {{ form_row(formDeal.shippingCost) }}
    {{ form_row(formDeal.isFreeShipping) }}
    {{ form_row(formDeal.isLocal) }}
    {{ form_row(formDeal.localities) }}

    {{ form_end(formDeal) }}
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-secondary d-flex justify-content mb-5 mt-3">Modifier le deal</button>
    </div>
{% endblock %}