{% extends "base.html.twig" %}

{% block title %}
    BACKOFFICE | Nodification Commentaire
{% endblock %}

{% block body %}

    <h1 class="display-4 text-center my-5">Modification Commentaire nยบ <span class="text-info">{{ idComment }}</span>
    </h1>

    {{ form_start (formComment, {'attr' : {'class': 'col-md-5 mx-auto'}}) }}

    {{ form_row(formComment.title, {'label': "Titre"}) }}

    {{ form_row(formComment.commentText, {'label': "Commentaire", 'attr': {'rows': 15}}) }}

    <button type="submit" class="btn btn-secondary mb-5">Modifier le commentaire</button>

    {{ form_end(formComment) }}

{% endblock %}