{% extends "base.html.twig" %}

{% block title %}
    BACKOFFICE | Nouvelle catégorie
{% endblock %}

{% block body %}

    <h1 class="display-4 text-center my-5">BACKOFFICE | Nouvelle catégorie</h1>

    {{ form_start(formCategory, {'attr' : {'class': 'col-md-5 mx-auto'}}) }}

    {{ form_row(formCategory.name) }}

    {{ form_row(formCategory.description, {'attr': {'rows': 15}}) }}

    {{ form_row(formCategory.color) }}

    {{ form_row(formCategory.illustration) }}


    <button type="submit" class="btn btn-secondary">Enregistrer la catégorie</button>

    {{ form_end(formCategory) }}

{% endblock %}