{% extends 'base.html.twig' %}
{% set title = "CornerDeals.deal" %}

{% block title title%}

{% block body %}
    <div class="container">
        <h1 class="display-4 text-center my-5">{{ title }}</h1>

        <div class="album py-5 bg-light">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://picsum.photos/600/400" width="100%" height="225">

                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Lire la suite</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Modifier</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://picsum.photos/600/400" width="100%" height="225">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Lire la suite</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Modifier</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://picsum.photos/600/400" width="100%" height="225">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Lire la suite</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Modifier</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://picsum.photos/600/400" width="100%" height="225">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Lire la suite</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Modifier</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://picsum.photos/600/400" width="100%" height="225">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Lire la suite</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Modifier</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://picsum.photos/600/400" width="100%" height="225">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Lire la suite</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Modifier</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://picsum.photos/600/400" width="100%" height="225">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Lire la suite</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Modifier</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://picsum.photos/600/400" width="100%" height="225">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Lire la suite</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Modifier</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://picsum.photos/600/400" width="100%" height="225">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Lire la suite</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Modifier</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}







{#{% extends 'base.html.twig' %}#}
{#{% set title = "CornerDeals.deal" %}#}

{#{% block title title%}#}

{#{% block body %}#}
{#    <div class="container">#}
{#    <h1 class="display-4 text-center my-5">{{ title }}</h1>#}

{#        <div class="album py-5 bg-light">#}

{#                <div class="row">#}

{#                    #}{##}{# articles variables TWIG qui provient du controller HomeController index() qui contient tous les deals selectionnés en#}
{#                    BDD (findAll() DealRepository) #}
{#                    data est une variable de reception qui receptionne 1 deal par tour de boucle FOR #)#}
{#                    {% for data in deals %}#}

{#                    <div class="col-md-4">#}
{#                        <div class="card mb-4 shadow-sm">#}
{#                            #}{# On pioche dans la variable 'data' avec le point pour afficher les données des articles #}
{#                            <img src="{{ data.image }}" alt="{{ data.title }}">#}

{#                            <div class="card-body">#}
{#                                <h4 class=text-center">{{ data.title }}</h4><hr>#}

{#                                #}{# striptags est un filtre Twig https://twig.symfony.com/doc/3.x/ qui permet de supprimer les balises HTML #}
{#                                <p class="card-text"› {{ data.description| striptags }}</p>#}

{#                                <p class="card-text"› {{ data.dealPrice| striptags }}</p>#}

{#                                <div class="d-flex justify-content-between align-items-center">#}
{#                                    <div class="btn-group">#}
{#                                        <a href="{{ path('deal:show', {'id': data.id }) }}" class="btn btn-sm btn-outline-secondary">Lire la suite</a>#}
{#                                    <button type="button" class="btn btn-sm btn-outline-secondary">Modifier</button>#}
{#                                    </div>#}
{#                                    #}{# La bdd renvoie un objet issue de la classe DateTime, on ne peut le convertir en une chaine de caractère #}
{#                                    #}{# On utilise donc un filtre Twig date() #}
{#                                    <small class="text-muted">Débute le {{ data.startedAt|date('d/m/Y')}}</small>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}

{#                    {% endfor %}#}
{#                </div>#}
{#    </div>#}
{#{% endblock %}#}
