{% extends 'base.html.twig' %}

{% set controller_name = "Liste des Produits"  %}
{% set title = "Produits" %}

{% block title %}{{ title }} - {{ parent() }}]}{% endblock %}

{% block body %}
<div class="container">


    {# Header / Titre de la page #}
    <header class="page-header">
        <h1 class="page-title">{{ title }}</h1>
    </header>

    {# Barre d'actions (ajouter un produit) #}
    <div class="page-toolbar text-right mt-3">
        <a href="{{ path('product:new') }}" class="btn btn-primary btn-sm"><i class="ri-add-circle-line"></i> Ajouter un produit</a>
    </div>

    {# Tableau de la liste des produits #}
    <table class="table table-hover mt-5">
        {# Entete du tableau HTML #}
        <thead class="thead-dark">
        <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.illustration }}</td>
{#                <td>{{ product.category.name }}</td>#}
                <td>
                    <a href="{{ path('product:show', {'id': product.id}) }}">Afficher</a>
                    <a href="{{ path('product:edit', {'id': product.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun produit</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
