{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1>Produit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Illustration</th>
                <td>{{ product.illustration }}</td>
            </tr>
{#            <tr>#}
{#                <th>Categorie</th>#}
{#                <td>{{ product.category.name }}</td>#}
{#            </tr>#}

        </tbody>
    </table>

{#    {{ dump(product.category.products[1]) }}#}

    <a href="{{ path('product:index') }}">Retour</a>

    <a href="{{ path('product:edit', {'id': product.id}) }}">Modifier</a>

    {# TODO: Show Deals of this product #}
    {# TODO: Show DiscountCode of this product #}
    {# TODO: Show Gallery of this product #}

    {{ include('product/product/_delete_form.html.twig') }}
{% endblock %}
