{% extends 'base.html.twig' %}

{% set controller_name = "Liste des Deals"  %}
{% set title = "Deals" %}

{% block title %}{{ title }} - {{ parent() }}]}{% endblock %}

{% block body %}
<div class="container">


    {# Header / Titre de la page #}
    <header class="page-header">
        <h1 class="page-title">{{ title }}</h1>
    </header>

    {# Barre d'actions (ajouter un produit) #}
    <div class="page-toolbar text-right mt-3">
        <a href="{{ path('deal:new') }}" class="btn btn-primary btn-sm"><i class="ri-add-circle-line"></i> Ajouter un deal</a>
    </div>

    {# Tableau de la liste des produits #}
    <table class="table table-hover mt-5">
        {# Entete du tableau HTML #}
        <thead class="thead-dark">
        <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Prix Barré</th>
                <th>Nouveau Prix</th>
                <th>Réduction</th>
                <th>Unité de mesure</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for deal in deals %}
            <tr>
                <td>{{ deal.id }}</td>
                <td>{{ deal.title }}</td>
                <td>{{ deal.crossedOutPrice }}</td>
                <td>{{ deal.dealPrice }}</td>
                <td>{{ deal.discount }}</td>
                <td>{{ deal.discountUnity }}</td>
                <td>
                    <a href="{{ path('deal:show', {'id': deal.id}) }}">show</a>
                    <a href="{{ path('deal:edit', {'id': deal.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun deal</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
