{% extends 'base.html.twig' %}

{% block title %}Deal index{% endblock %}

{% block body %}
    <h1>Deal index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>CrossedOutPrice</th>
                <th>DealPrice</th>
                <th>Discount</th>
                <th>DiscountUnity</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for deal in deals %}
            <tr>
                <td>{{ deal.id }}</td>
                <td>{{ deal.title }}</td>
                <td>{{ deal.crossedOutPrice }}</td>
                <td>{{ deal.dealPrice }}</td>
                <td>{{ deal.discount }}</td>
                <td>{{ deal.discountUnity }}</td>
                <td>
                    <a href="{{ path('deal:show', {'id': deal.id}) }}">show</a>
                    <a href="{{ path('deal:edit', {'id': deal.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('deal:new') }}">Create new</a>
{% endblock %}
