{% extends 'base.html.twig' %}

{% block title %}Les Deals - {{ parent() }} {% endblock %}

{# {% block stylesheets %} #}
{#    <link rel="stylesheet" href="{{ asset('styles/pages/list.css') }}"> #}
{# {% endblock %} #}

{% block body %}
    <div class="container mt-4"></div>
    <h1 class="text-center display-4 py-5">Les Deals proposés par notre communauté</h1>
    {% if app.user %}
        <div class="page-toolbar text-right mt-3">
            <a href="{{ path('deal:new') }}" class="btn btn-primary btn-sm mb-5"><i class="ri-add-circle-line"></i>Ajouter
                un deal</a>
        </div>
    {% endif %}
    <div class="deals">
        <div class="mb-3">Actuellement {{ deals|length }} deals en ligne</div> {# Nbr total de deals #}
        <div class="d-flex justify-content-end my-2">
            <a href="{{ path('deal:index', {sort:'createdAt', q: query}) }}" class="btn btn-dark mx-1">Les plus
                récents</a> {# {sort:'createdAt', q: query}), on passe q: query afin de pouvoir réaliser le filtrage sur la recherche précédemment effectuée #}
            <a href="{{ path('deal:index', {sort:'startAt', q: query}) }}" class="btn btn-dark mx-1">À venir</a>
            <a href="{{ path('deal:index', {sort:'title', q: query}) }}" class="btn btn-dark mx-1">Par ordre
                alphabétique</a>
        </div>
        {% for deal in deals %}
            {% if deal.endAt < date() %}
                {% set status = {color: 'danger', text:'Terminé'} %}
            {% elseif deal.startAt < date() %}
                {% set status = {color: 'success', text:'En cours'} %}
            {% else %}
                {% set status = {color: 'warning', text:'Prochainement'} %}
            {% endif %}

            <div class="card mb-3 deal">
                <div class="row g-0">
                    <div class="col-md-4 deal-picture">
                        <span class="deal-timer badge rounded-pill bg-{{ status.color }}">
                            {{ status.text }}
                        </span>
                        <img src="{{ asset('uploads/images/' ~ deal.illustration) }}" alt="Photo de {{ deal.title }}"
                             class="img-fluid">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <div class="card-title d-flex">
                                <h2>{{ deal.title }}</h2>
                                <div class="align-content-center">
                                    {% for category in deal.categories %}
                                        {{ category.color }} {{ category.name }}
                                    {% endfor %}
                                </div>
                            </div>
                            <p class="card-text">{{ deal.description }}</p>
                            <h4 class="text-danger text-bold my-3">
                                {#                                    <i class="ri-money-euro-circle-line"></i> #}
                                {# Si dealprice n'est pas null on prend la 1ère opérande, si dealprice est null on affiche "gratuit" #}
                                {{ deal.dealprice ?? 'Gratuit' }} {{ deal.currencyType }}
                            </h4>
                            <p class="card-text deal-info">
                                <span class="p-0">
                                    <i class="ri-calendar-line"></i>
                                    Du {{ deal.startAt|date('d/m/Y') }} au {{ deal.endAt|date('d/m/Y') }}
                                </span>
                                <span>
                                    <i class="ri-map-pin-line"></i>
                                    {{ deal.localities }}
                                </span>
                                <span class="spacer"></span>
                                <a href="{{ path('deal:show', {id: deal.id}) }}" class="btn btn-primary">
                                    En savoir plus
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {# Si aucun tour de boucle ne se produit -> Affichage du else, on évite ainsi de faire une surcondition #}
        {% else %}
            <p>Aucun deal ne correspond à votre recherche</p>
        {% endfor %}
    </div>
{% endblock %}