{% extends 'base.html.twig' %}

{% block title %}Deal{% endblock %}

{% block body %}
    <h1>Deal</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ deal.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ deal.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ deal.description }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ deal.url }}</td>
            </tr>
            <tr>
                <th>Prix habituel</th>
                <td>{{ deal.crossedOutPrice }}</td>
            </tr>
            <tr>
                <th>Prix actuel</th>
                <td>{{ deal.dealPrice }}</td>
            </tr>
            <tr>
                <th>Montant réduction</th>
                <td>{{ deal.discount }}</td>
            </tr>
            <tr>
                <th>Unité de mesure</th>
                <td>{{ deal.discountType }}</td>
            </tr>
            <tr>
                <th>Code Promo</th>
                <td>{{ deal.discountCode }}</td>
            </tr>
            <tr>
                <th>Devise</th>
                <td>{{ deal.currencyType }}</td>
            </tr>
            <tr>
                <th>Date début offre</th>
                <td>{{ deal.startAt|date('d/m/Y')}}</td>
            </tr>
            <tr>
                <th>Date fin offre</th>
                <td>{{ deal.endAt|date('d/m/Y')}}</td>
            </tr>
            <tr>
                <th>Frais d'envoi</th>
                <td>{{ deal.shippingCost }}</td>
            </tr>
            <tr>
                <th>Frais d'envoi offerts</th>
                <td>{{ deal.isFreeShipping }}</td>
            </tr>
            <tr>
                <th>Offre locale</th>
                <td>{{ deal.isLocal }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ deal.localities }}</td>
            </tr>
        </tbody>
    </table>

{#    <h4 class="my-5">Vos avis</h4>#}

{#    <div class="row">#}

{#         deal.comment : retourne tous les commentaires associés au deal (relation bi-directionnelle / relations entre les tables #}
{#         Plusieurs commentaires assoiés au deal donc nous sommes obligés de boucler #}

{#        {% for comment in deal.comments %}#}

{#            {{ dump(comment) }}#}

{#        {% endfor %}#}
{#    </div>#}
    <a href="{{ path('deal:index') }}">Retour</a>

    <a href="{{ path('deal:edit', {'id': deal.id}) }}">Modifier</a>

    {{ include('deal/deal/_delete_form.html.twig') }}
{% endblock %}
