<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}CornerDeals{% endblock %}</title>
{#        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">#}
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
        <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">


            <a class="navbar-brand" href="{{ url('homepage') }}">CornerDeals</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url('homepage') }}"><i class="ri-home-fill"></i>Accueil</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('merchant:index') }}">Boutiques</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('discount_code:index') }}">Codes Promo</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('deal:index') }}">Deals</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{ url('category:index') }}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                            Categories
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('product:index') }}">Produits</a>
                    </li>
                </ul>

                <ul class="navbar-nav ms-auto">

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {#Authenticated users#}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url('profile') }}">Mon Profil</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ url('app_logout') }}">Deconnexion</a>
                        </li>

                    {% else %}
                        {#Anonymous users#}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url('app_register') }}">Inscription</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ url('app_login') }}">Connexion</a>
                        </li>

                    {% endif %}

                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Rechercher..." aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Rechercher</button>
                </form>

                </ul>

            </div>
        </nav>
        </header>
{#        <div class="container">#}

{#        <header>#}
{#            <h1>Corner Deals</h1>#}

{#            <nav>#}
{#                <a href="{{ url('homepage') }}"><i class="ri-home-fill"></i>Home</a><br>#}

{#                <br>#}

{#                Menu quand l'utilisateur est anonyme#}
{#                <a href="{{ url('app_register') }}">Inscription</a> -#}
{#                <a href="{{ url('app_login') }}">Connexion</a>#}

{#                Menu quand l'utilisateur est identifié#}
{#                <a href="#">Mon Profil</a> -#}
{#                <a href="#">Deconnexion</a><br>#}

{#                <br>#}

{#                <a href="{{ url('merchant:index') }}">Boutiques</a><br>#}
{#                <a href="{{ url('discount_code:index') }}">Codes Promo</a><br>#}
{#                <a href="{{ url('deal:index') }}">Deals</a><br>#}
{#                <a href="{{ url('category:index') }}">Categories</a><br>#}
{#                <a href="{{ url('product:index') }}">Produits</a><br>#}
{#                <a href="{{ url('address:index') }}">Adresses</a><br>#}
{#                <a href="{{ url('comment:index') }}">Commentaires</a><br>#}
{#            </nav>#}
{#        </header>#}
    <body>
        <main class="container-fluid conteneur-base">
        {% block body %}

        {% endblock %}
        </main>

        <footer class="text-center py-4" style="background-color: lightgray">
            &copy2022 - OSW3
        </footer>

            {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
